// -----------------------------------------------------------------------------
// Module: Page
// -----------------------------------------------------------------------------
//

// Setup
// -----------------------------------------------------------------------------
//
$page-container: 650px;


// Module core
// -----------------------------------------------------------------------------
//
.container {
  @include container($page-container);
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  padding-top: calc(171px + 1.250em);
}


// Module variations
// -----------------------------------------------------------------------------
//



// Module helpers
// -----------------------------------------------------------------------------
//
